h1,
h3,
h5 {
  margin: 2px 0;
}

h1 {
  font-size: 6em;
}

h2 {
  justify-self: flex-start;
  margin: 20px 23px 0px 23px;
}

h3 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.5em;
  /* padding-top: 0.25em; */
}

p {
  padding-top: 0.5em;
}

.loading-div {
  height: 90vh;
  width: 90vw;
}

.loading-h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.style-weather {
  height: 90vh;
  margin: 20px;
}

.grid1 {
  height: 30%;
}

.grid2 {
  height: 60%;
}

.grid-left {
  width: 100%;
}

.card-left {
  width: 90%;
  height: 95%;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background: linear-gradient(to top, #3551b5ee 0%, #f44336ee 100%);
}

.card {
  width: 90%;
  height: 100%;
  padding: 10px;
  margin: 10px;
}

.card-accordion {
  width: 90%;
  height: 100%;
  padding: 10px;
  margin: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weather-desc {
  display: flex;
}

.w01d {
  background-image: url(http://openweathermap.org/img/wn/01d@2x.png);
  background-size: contain;
  width: 2.5em;
  height: 2.5em;
}

.w02d {
  background-image: url(http://openweathermap.org/img/wn/02d@2x.png);
  background-size: contain;
  width: 2.5em;
  height: 2.5em;
}

.w03d {
  background-image: url(http://openweathermap.org/img/wn/03d@2x.png);
  background-size: contain;
  width: 2.5em;
  height: 2.5em;
}

.w04d {
  background-image: url(http://openweathermap.org/img/wn/04d@2x.png);
  background-size: contain;
  width: 2.5em;
  height: 2.5em;
}

.w09d {
  background-image: url(http://openweathermap.org/img/wn/09d@2x.png);
  background-size: contain;
  width: 2.5em;
  height: 2.5em;
}

.w10d {
  background-image: url(http://openweathermap.org/img/wn/10d@2x.png);
  background-size: contain;
  width: 2.5em;
  height: 2.5em;
}

.w11d {
  background-image: url(http://openweathermap.org/img/wn/11d@2x.png);
  background-size: contain;
  width: 2.5em;
  height: 2.5em;
}

.w13d {
  background-image: url(http://openweathermap.org/img/wn/13d@2x.png);
  background-size: contain;
  width: 2.5em;
  height: 2.5em;
}

.w50d {
  background-image: url(http://openweathermap.org/img/wn/50d@2x.png);
  background-size: contain;
  width: 2.5em;
  height: 2.5em;
}

.w01n {
  background-image: url(http://openweathermap.org/img/wn/01n@2x.png);
  background-size: contain;
  width: 2.5em;
  height: 2.5em;
}

.w02n {
  background-image: url(http://openweathermap.org/img/wn/02n@2x.png);
  background-size: contain;
  width: 2.5em;
  height: 2.5em;
}

.w03n {
  background-image: url(http://openweathermap.org/img/wn/03n@2x.png);
  background-size: contain;
  width: 2.5em;
  height: 2.5em;
}

.w04n {
  background-image: url(http://openweathermap.org/img/wn/04n@2x.png);
  background-size: contain;
  width: 2.5em;
  height: 2.5em;
}

.w09n {
  background-image: url(http://openweathermap.org/img/wn/09n@2x.png);
  background-size: contain;
  width: 2.5em;
  height: 2.5em;
}

.w10n {
  background-image: url(http://openweathermap.org/img/wn/10n@2x.png);
  background-size: contain;
  width: 2.5em;
  height: 2.5em;
}

.w11n {
  background-image: url(http://openweathermap.org/img/wn/11n@2x.png);
  background-size: contain;
  width: 2.5em;
  height: 2.5em;
}

.w13n {
  background-image: url(http://openweathermap.org/img/wn/13n@2x.png);
  background-size: contain;
  width: 2.5em;
  height: 2.5em;
}

.w50n {
  background-image: url(http://openweathermap.org/img/wn/50n@2x.png);
  background-size: contain;
  width: 2.5em;
  height: 2.5em;
}
