.image-wrapper {
  width: inherit;
  height: 60%;
  display: flex;
  justify-content: space-evenly;
}
.traffic-text {
  padding-top: 0%;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  color: black;
}
a {
  text-decoration: none;
}

@keyframes fa-blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.fa-blink {
  -webkit-animation: fa-blink 0.75s linear infinite;
  -moz-animation: fa-blink 0.75s linear infinite;
  -ms-animation: fa-blink 0.75s linear infinite;
  -o-animation: fa-blink 0.75s linear infinite;
  animation: fa-blink 0.75s linear infinite;
}

.notifications-wrapper {
  height: 40vh;
  display: block;
  font-size: 1.2em;
  font-weight: 700;
}
