.App{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top,#7c231da8,#29409173),
    url('./assets/images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;


}
